.thumbnail {
  width: 40px; /* Ensure the image takes up the full width of the container */
  height: 40px; /* Maintain the aspect ratio */
  display: block;
  cursor: pointer;
}
#attachment_heading {
  font-family: "Poppins", sans-serif !important;
}
