img {
  height: 15%;
  width: 15%;
  justify-content: center;
}
.square_container {
  width: 400px; /* Adjust the width as needed */
  height: 400px; /* Equal to the width to make it a square */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none !important;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.square_container .input_group {
  width: 100%;
}
