.custom-dropdown {
  height: 40px;
  width: 200px;
  border: 1px solid var(--dark_grey);
  border-radius: 20px;
  align-items: center;
}

.img_user {
  height: 30px;
  width: 30px;
  margin-left: 5px;
}
.custom-select {
  outline: none;
  border: none;
  font-weight: bold;
  align-items: center;
}
