.custom_dropdown {
  height: 40px;
  width: max-content;
  padding: 10px;
  border: 1px solid var(--dark_grey);
  border-radius: 20px;
  align-items: center;
  z-index:-100;
}
.option{
  width: 200px;
}
.img_user {
  height: 30px;
  width: 30px;
  margin-left: 5px;
}
.custom_select {
  outline: none;
  border: none;
  font-weight: bold;
  align-items: center;
}
