<div class="dropdown d-flex" [ngClass]="'user_role_container'">
  <img
    src="./assets/user.svg"
    alt=""
    [ngClass]="'img_user'"
    class="img-fluid rounded-circle d-block mt-3"
  />
  <button
    class="btn dropdown-toggle"
    type="button"
    id="dropdownMenu2"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Manager
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Hello</button>
    <button class="dropdown-item" type="button">Hello</button>
    <button class="dropdown-item" type="button">Hello</button>
    <button class="dropdown-item" type="button">Hello</button>
    <button class="dropdown-item" type="button">Hello</button>
    <button class="dropdown-item" type="button">Hello</button>
  </div>
</div>
