<div class="custom-dropdown d-flex">
  <img
    src="./assets/user.svg"
    alt=""
    [ngClass]="'img_user'"
    class="img-fluid rounded-circle user-image"
  />
  <select
    class="custom-select"
    [(ngModel)]="selectedValue"
    (ngModelChange)="onOptionSelected()"
  >
    <!-- Default placeholder option with dynamic value -->
    <option
      role="menuitem"
      class="dropdown-item"
      [value]="userRole.toLowerCase()"
      [disabled]="true"
    >
      {{ userRole }}
    </option>

    <!-- Actual options -->
    <option role="menuitem" class="dropdown-item" value="l1">L1 Admin</option>
    <option role="menuitem" class="dropdown-item" value="l2">L2 Admin</option>
    <option role="menuitem" class="dropdown-item" value="l3">L3 Admin</option>
    <option role="menuitem" class="dropdown-item" value="manager">
      Manager
    </option>
    <option role="menuitem" class="dropdown-item" value="departmenthead">
      Department Head
    </option>
    <option role="menuitem" class="dropdown-item" value="employee">
      Employee
    </option>
  </select>
</div>
