<div class="dropdown">
  <button
    class="dropdown_button dropdown-toggle col-9 d-flex justify-content-between"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    (click)="toggleDropdown()"
    appOutsideClick
    (clickOutside)="closeDropdown()"
  >
    <img
      src="./assets/user.svg"
      alt=""
      [ngClass]="'img_user'"
      class="img-fluid rounded-circle user-image"
    />
    {{ selectedOption || "Employee" }}
    <!-- <img src="./assets/down.png" /> -->
  </button>
  <div
    class="dropdown_content col-9"
    aria-labelledby="dropdownMenuButton"
    *ngIf="showDropdown"
  >
    <div class="option dropdown-item" (click)="selectOption('l1')">
      L1 Admin
    </div>
    <div class="option dropdown-item" (click)="selectOption('l2')">
      L2 Admin
    </div>
    <div class="option dropdown-item" (click)="selectOption('l3')">
      L3 Admin
    </div>
    <div class="option dropdown-item" (click)="selectOption('manager')">
      Manager
    </div>
    <div class="option dropdown-item" (click)="selectOption('dept-head')">
      Department Head
    </div>
  </div>
</div>
