.comments {
    margin-top: 20px;
}

.comments-list {
    margin-top: 20px;
}

.comments-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.view-comments-text {
    cursor: pointer;
    color: var(--blue_violet);
    text-decoration: underline;
    font-size: 14px;
}