
<div class="container mt-1">
    <div class="ticket-container">
      <app-manager-ticket-info [ticketDetails]="ticketDetails"></app-manager-ticket-info>
      <app-ticket-description [ticketDetails]="ticketDetails"></app-ticket-description>
      <app-ticket-na-simple [notes]="ticketDetails.notes" [lastupdate]="ticketDetails.lastUpdate"></app-ticket-na-simple>

    <div class="person-cards-row">
      <!-- Raised By -->
      <app-person-card
        [personName]="ticketDetails.employeeName"
        [isRaisedBy]="true"
      ></app-person-card>

      <!-- Assigned To -->
      <app-person-card
        [personName]="ticketDetails.assignedTo"
        [isRaisedBy]="false"
      ></app-person-card>
    </div>
      
    </div>
  </div>

