<!-- <div class="escalation-times">
    <h2>Escalation Times</h2>
    <div class="escalation-time" *ngFor="let escalationTime of showTimes; let i = index">
      <div class="escalation-time-info">
        <p>Priority Name: {{ escalationTime.priorityName }}</p>
      </div>
      <div class="escalation-time-edit">
        <label for="timeInput{{i}}">Time (minutes):</label>
        <input type="number" id="timeInput{{i}}" [(ngModel)]="escalationTime.time">
      </div>
    </div>
    <button (click)="updateEscalationTime()">Save</button>
  </div>
   -->