.na_box {
  border: 2px solid var(--grey);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
}

/* Assuming a base style for the button */
.button {
  background-color: var(--green);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--low_priority);
}

/* Styles for the button content (text) */
.button-content {
  font-size: 16px;
}
