<div class="ticket_info" *ngIf="ticketDetails">
  <div class="ticket_details">
    <p>
      <span class="ticket_status_box">{{ ticketDetails.statusName }}</span>
      <span class="ticket_id"> Ticket ID: #{{ ticketDetails.id }}</span>
    </p>
  </div>
  <div class="ticket_priority">
    <button
      class="button-with-image"
      (click)="openTrackingModal()"
      title="Show Timeline"
    >
      <img
        class="header_img img-fluid"
        src="./assets/timeline-solid.svg"
        alt=""
      />
    </button>
    <p>
      <span
        [ngClass]="{ ticket_priority_box: true }"
        [style.background-color]="getPriorityColor()"
      >
        {{ ticketDetails.priorityName }}
      </span>
    </p>
  </div>
</div>
