.ticket_info {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ticket_details {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.ticket_priority {
  display: flex;
  align-items: center;
  color: black;
}

.ticket_status_box {
  background-color: var(--ticket_status);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--ticket_status_color);
  font-weight: bold;
  margin-bottom: 0;
  display: inline-block;
}

.ticket_priority_box {
  background-color: var(--priority_box);
  color: #fff;
  padding: 7px 14px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
 
}

.ticket_id {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0;
}

select {
  background-color: var(--priority_box);
  color: #fff;
  padding: 5px 10px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
}

.button_with_image {
  display: inline-block;
  border: none;
  padding: 7px 20px;
  border-radius: 25px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 10px;
  margin-right:5px;
}

.button_with_image img {
  width: 20px; /* Adjust the width of the image as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Optional: Add some space between the image and text */
}

.button_with_image:hover{
  opacity: 1; /* Show on hover */
}

