<!-- <div class="container">
  <h1>Raise a Ticket</h1>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  <form [formGroup]="uploadForm">
    <div class="form-group">
      <input
        type="text"
        id="ticketName"
        formControlName="ticketName"
        required
      />
      <label for="ticketName">Request</label><br />
      <span
        class="form-error"
        *ngIf="
          uploadForm.get('ticketName')?.invalid &&
          uploadForm.get('ticketName')?.touched
        "
        ngClass="text-danger"
        >This field is required*</span
      >
    </div>

    <div class="form-group">
      <textarea
        id="ticketDescription"
        formControlName="ticketDescription"
        required
      ></textarea>
      <label for="ticketDescription">Description</label>
    </div>
    <span
      class="form-error"
      *ngIf="
        uploadForm.get('ticketDescription')?.invalid &&
        uploadForm.get('ticketDescription')?.touched
      "
      ngClass="text-danger"
      >This field is required*</span
    >

    <div class="form-group">
      <select id="priorityId" formControlName="priorityId" required>
        <option *ngFor="let priority of priorities" [value]="priority.id">
          {{ priority.priorityName }}
        </option>
      </select>
      <label for="priorityId">Choose Priority</label>
    </div>
    <span
      class="form-error"
      *ngIf="
        uploadForm.get('priorityId')?.invalid &&
        uploadForm.get('priorityId')?.touched
      "
      ngClass="text-danger"
      >This field is required*</span
    >
    <div class="form-group">
      <select
        id="departmentId"
        formControlName="departmentId"
        (change)="onDepartmentChange()"
        required
      >
        <option *ngFor="let department of departments" [value]="department.id">
          {{ department.deptName }}
        </option>
      </select>
      <label for="departmentId">Choose Department</label>
    </div>
    <span
      class="form-error"
      *ngIf="
        uploadForm.get('departmentId')?.invalid &&
        uploadForm.get('departmentId')?.touched
      "
      ngClass="text-danger"
      >This field is required*</span
    >
    <div class="form-group">
      <select id="categoryId" formControlName="categoryId" required>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.categoryName }}
        </option>
      </select>
      <label for="categoryId">Choose Category</label>
    </div>
    <span
      class="form-error"
      *ngIf="
        uploadForm.get('categoryId')?.invalid &&
        uploadForm.get('categoryId')?.touched
      "
      ngClass="text-danger"
      >This field is required*</span
    >
    <div class="form-group">
      <input type="file" id="file" (change)="onFileChange($event)" required />
    </div>

    <div class="button-container">
      <app-button
        id="submit-btn"
        type="submit"
        (click)="onSubmit()"
        class="pr-10"
        color="accepted"
        >Submit</app-button
      >
      <app-button type="Reset" color="rejected" (click)="onCancelRequest()"
        >Reset</app-button
      >
    </div>
  </form>
</div>
<br /><br /> -->

<div class="container">
  <h1>Raise a Ticket</h1>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <select id="categoryId" formControlName="categoryId" required>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.categoryName }}
        </option>
      </select>
      <label for="categoryId">Request</label>
    </div>
    <span
      class="form-error"
      *ngIf="
        uploadForm.get('categoryId')?.invalid &&
        uploadForm.get('categoryId')?.touched
      "
      ngClass="text-danger"
      >This field is required*</span
    >

    <div class="form-group">
      <textarea
        id="ticketDescription"
        formControlName="ticketDescription"
        required
      ></textarea>
      <label for="ticketDescription">Description</label>
    </div>
    <span
      class="form-error"
      *ngIf="
        uploadForm.get('ticketDescription')?.invalid &&
        uploadForm.get('ticketDescription')?.touched
      "
      ngClass="text-danger"
      >This field is required*</span
    >

    <div class="form-group">
      <select id="priorityId" formControlName="priorityId" required>
        <option *ngFor="let priority of priorities" [value]="priority.id">
          {{ priority.priorityName }}
        </option>
      </select>
      <label for="priorityId">Choose Priority</label>
    </div>
    <span
      class="form-error"
      *ngIf="
        uploadForm.get('priorityId')?.invalid &&
        uploadForm.get('priorityId')?.touched
      "
      ngClass="text-danger"
      >This field is required*</span
    >

    <div class="form-group">
      <input
        type="file"
        formControlName="file"
        (change)="onFileChange($event)"
        required
      />
    </div>

    <div class="button-container">
      <app-button
        id="submit-btn"
        type="submit"
        (click)="onSubmit()"
        class="pr-10"
        color="accepted"
        >Submit</app-button
      >
      <app-button type="Reset" color="rejected" (click)="onCancelRequest()"
        >Reset</app-button
      >
    </div>
  </form>
</div>
<br /><br />
