<!-- Form to raise a ticket -->
<div class="container">
  <h1>Raise a Ticket</h1>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <select id="categoryId" formControlName="categoryId" required>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.categoryName }}
        </option>
      </select>
      <label for="categoryId">Request</label>
      <span
        class="form-error"
        *ngIf="
          uploadForm.get('categoryId')?.invalid &&
          uploadForm.get('categoryId')?.touched
        "
        ngClass="text-danger"
        >This field is required*</span
      >
    </div>

    <div class="form-group">
      <textarea
        id="ticketDescription"
        formControlName="ticketDescription"
        required
      ></textarea>
      <label for="ticketDescription">Description</label>
      <span
        class="form-error"
        *ngIf="
          (uploadForm.get('ticketDescription')?.hasError('required') ||
            (uploadForm.get('ticketDescription')?.value &&
              uploadForm.get('ticketDescription')?.value.trim() === '')) &&
          uploadForm.get('ticketDescription')?.touched
        "
        ngClass="text-danger"
        >This field is required*</span
      >
      <span
        class="form-error"
        *ngIf="
          uploadForm.get('ticketDescription')?.hasError('maxWords') &&
          uploadForm.get('ticketDescription')?.touched
        "
        ngClass="text-danger"
        >Maximum 300 words allowed*</span
      >
    </div>

    <div class="form-group">
      <select id="priorityId" formControlName="priorityId" required>
        <option *ngFor="let priority of priorities" [value]="priority.id">
          {{ priority.priorityName }}
        </option>
      </select>
      <label for="priorityId">Choose Priority</label>
      <span
        class="form-error"
        *ngIf="
          uploadForm.get('priorityId')?.invalid &&
          uploadForm.get('priorityId')?.touched
        "
        ngClass="text-danger"
        >This field is required*</span
      >
    </div>

    <div class="file-group">
      <input
        type="file"
        formControlName="file"
        (change)="onFileChange($event)"
      />
    </div>

    <div class="button-container">
      <button
        id="submit-btn"
        type="button"
        class="pr-10 btn-accepted"
        [disabled]="uploadForm.invalid"
        (click)="onSubmit()"
      >
        Submit
      </button>
      <button
        type="Reset"
        class="btn-rejected"
        (click)="onCancelRequest()"
        [disabled]="uploadForm.pristine"
      >
        Reset
      </button>
    </div>
  </form>
</div>
<br /><br />
