<!-- unassigned-tickets.component.html -->
<div class="side-container">
  <div class="app_sidebar">
    <app-sidebar
      [fields]="yourFieldsArray"
      (clicked)="onFieldClicked($event)"
      (subfieldClicked)="onSubfieldClicked($event)"
    ></app-sidebar>
  </div>

  <div class="col-md-12 side_display" [class.collapsed]="isSidebarCollapsed">
    <app-header-layout class="header"></app-header-layout>
    <div *ngIf="showL2AdminTickets" class="side_component">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
