<h1 class="mt-5 head">{{ heading }}</h1>
<div class="display_board p-5 col-6 ms-5">
  <div *ngFor="let title of titles; let index = index" class="col-6 d-flex">
    <div class="col-6">
      <!-- Assuming you want two columns, adjust the width as needed -->
      <p>{{ title }}:</p>
    </div>
    <div class="col-6">
      <p *ngIf="index != 4">{{ data[index] }}</p>
      <ng-container *ngIf="index === 4">
        <p *ngFor="let role of data[index]">{{ role }}</p></ng-container
      >
    </div>
  </div>
</div>
