<div class="escalation-times">
  <h2 class="heading">Escalation Time Chart</h2>
  <table class="escalation-table">
    <thead id="tablehead">
      <tr>
        <th class="id-column">Id</th>
        <th class="category-column">Category</th>
        <th class="time-column">Number of days</th>
        <th class="edit-column">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let escalationTime of showTimes; let i = index">
        <td>{{ i + 1 }}</td> <!-- Print index + 1 to start from 1 instead of 0 -->
        <td>{{ escalationTime.categoryName }}</td>
        <td>
          <ng-container *ngIf="!escalationTime.editMode; else editMode">
            <span (click)="toggleEditMode(escalationTime)">{{ escalationTime.time }}</span>
          </ng-container>
          <ng-template #editMode>
            <input type="number" [(ngModel)]="escalationTime.time">
          </ng-template>
        </td>
        <td>
          <app-button color="submit" *ngIf="!escalationTime.editMode" (click)="toggleEditMode(escalationTime)">Edit</app-button>
          <app-button color="submit" *ngIf="escalationTime.editMode" (click)="saveEscalationTime(escalationTime, i)">Save</app-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
