<app-ticket-info [ticketDetails]="ticketDetails"></app-ticket-info>
<app-ticket-description
  [ticketDetails]="ticketDetails"
></app-ticket-description>
<app-ticket-documents
  [headerText]="customHeaderText"
  [ticketId]="ticketId"
></app-ticket-documents>
<div class="container">
  <div class="left-column">
    <!-- <app-ticket-notes-attachments
      [ticketId]="ticketId"
      (editModeChanged)="onEditModeChange($event)"
    ></app-ticket-notes-attachments> -->
    <app-comments
      [currentUserId]="currentUserId"
      [ticketId]="ticketId"
    ></app-comments>
    <app-title-sub [headings]="headings"></app-title-sub>
  </div>
  <app-invoice-upload></app-invoice-upload>
  <div class="right-column">
    <app-ticket-tracking [ticketId]="ticketId"></app-ticket-tracking>
  </div>
</div>
