<div class="d-flex">
  <div class="col-8 ticket_detailing">
    <div class="ticket_details_tabs">
      <div class="ticket_details_tab tab1" (click)="selectedTab = 'Details'" [class.active]="selectedTab === 'Details'">
        <span>Details</span>
      </div>
      <div class="ticket_details_tab tab2" (click)="selectedTab = 'Documents'"
        [class.active]="selectedTab === 'Documents'">
        <span>Documents</span>
      </div>
      <div class="ticket_details_tab tab1" (click)="selectedTab = 'Comments'"
        [class.active]="selectedTab === 'Comments'">
        <span>Comments</span>
      </div>
    </div>
    <div class="ticket_details_view" *ngIf="selectedTab === 'Details'">
      <app-ticket-info [ticketDetails]="ticketDetails"></app-ticket-info>
      <app-ticket-description [ticketDetails]="ticketDetails"></app-ticket-description>
      <app-title-sub [headings]="headings"></app-title-sub>
      <div class="chat_button">
        <button (click)="goToTeams()">Chat</button>
      </div>
    </div>
    <div class="ticket_comments_view" *ngIf="selectedTab === 'Comments'">
      <app-comments [currentUserId]="currentUserId" [ticketId]="ticketId"></app-comments>
    </div>
  </div>
  <div class="col-4 ticket_additional">
    <div class="ticket_details_tabs">
      <div class="ticket_details_tab tab1">
        <span>Timeline</span>
      </div>
    </div>
    <app-ticket-tracking class="mt-4" [ticketId]="ticketId"></app-ticket-tracking>
  </div>
</div>