<input
  type="file"
  accept=".pdf, .jpg, .png, jpeg"
  (change)="onFileSelected($event)"
/>
<app-button color="accepted" (click)="uploadFile()">Upload Invoice</app-button>
<br />
<!-- <div class="container">
  <h2 class="title">Invoice Uploader</h2>
  <form (ngSubmit)="uploadFile()" #invoiceForm="ngForm">
    <div class="form-group">
      <label for="invoiceFile">Select Invoice File:</label>
      <input
        type="file"
        id="invoiceFile"
        name="invoiceFile"
        accept=".pdf, .doc, .docx"
        ngModel
        required
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!invoiceForm.valid"
    >
      Upload Invoice
    </button>
  </form>
</div> -->
