.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Close Button */
/* Close Button */
.close {
    background-color: var(--violet);
    border: none;
    border-radius: 50%;
    padding: 8px 12px;
    color: var(--light_grey);
    position: absolute; /* Add this line */
    top: 10px; 
    right: 10px; 
  }
  
  .close span {
    font-size: 22px;
    color: white;
  }
  
  .close:hover {
      background-color: var(--violet);
      transform: scale(1.1);
  }
  