.filter_search {
  margin-left: 3%;
  margin-right: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#filter_img {
  margin-right: 5%;
}

.data_table {
  width: 100%;
  margin-right: 20px;
}

.sort {
  display: flex;
  flex-direction: column;
}

#sort_icon {
  width: 15px;
  background: none;
  cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: center; /* Center the headers horizontally */
  align-items: center; /* Center the headers vertically */
}

.header-container span {
  margin-right: 5px;
}

.table_head th {
  text-align: center;
  background: #dad7ff !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  font-size: larger;
  font-weight: 1000;
  padding: 2%;
}

th:first-child {
  border-top-left-radius: 8px;
}

th:last-child {
  border-top-right-radius: 8px;
}

.clickable_row {
  height: 60px;
  transition: height 0.3s, transform 0.3s;
  border: 2px solid #ececec;
}

td {
  padding: 2%;
  padding-right: 2%;
}

.clickable_row:hover {
  cursor: pointer;
  height: 70px;
  border: 3px solid #6f00ff;
  transform: translateZ(50px);
  transform: scale(1.01);
  border-radius: 8px;
  background: #ededed;
  font-weight: 550;
}

/* Priority and Status Styles */
.priority,
.status {
  border-radius: 10%;
  font-weight: 600;
}

.low-priority {
  color: rgb(78, 213, 73);
}

.medium-priority {
  color: rgb(202, 160, 9);
}

.high-priority {
  color: #ff7f29;
}

.critical-priority {
  color: #d54949;
}

.open-status {
  padding: 5px;
  background-color: rgba(116, 223, 125, 0.4);
  color: rgb(78, 213, 73);
}

.inprogress-status {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: #bf74df33;
  color: rgb(171, 73, 213);
  border-radius: 5px;
}

.onhold-status {
  padding: 5px;
  background-color: rgba(223, 168, 116, 0.4);
  color: rgb(202, 102, 9);
  border-radius: 5px;
}

.resolved-status {
  padding: 5px;
  background-color: rgba(112, 110, 222, 0.4);
  color: #4B49D5;
  border-radius: 5px;
}

.cancelled-status {
  padding: 5px;
  background-color: rgba(218, 222, 110, 0.4);
  color: #fcca01c4;
  border-radius: 5px;
}

.escalated-status {
  padding: 5px;
  background-color: rgba(222, 117, 110, 0.4);
  color: #d54949;
  border-radius: 5px;
}

.ticket-name {
  max-width: 150px; /* Set the maximum width for ticket name */
  overflow: hidden;
  text-overflow: ellipsis; /* Display ellipsis (...) when text overflows */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.ticket-name:hover {
  white-space: normal; /* Allow the full text to be visible on hover */
  z-index: 1;
  position: relative;
}