<div class="filter_search">
  <!-- <app-button color="filter" #filterButton></app-button> -->
  <app-search-bar (searchQueryChange)="search($event)"></app-search-bar>
</div>

<div class="container mt-4">
  <table class="data_table">
    <!-- Table Header -->
    <thead class="table_head">
      <tr>
        <th
          *ngFor="let header of headers; let i = index"
          class="text-center text-nowrap"
        >
          <div class="header-container">
            <span>{{ header }}</span>
            <app-sort-up-down
              (sortAscending)="onSort(keys[i], 'asc')"
              (sortDescending)="onSort(keys[i], 'desc')"
            ></app-sort-up-down>
          </div>
        </th>
      </tr>
    </thead>

    <tbody class="table_body">
      <tr *ngIf="totalDataCount === 0" class="no-records-found-row">
        <td [attr.colspan]="headers.length" class="text-center">
          No records found.
        </td>
      </tr>
      <tr *ngFor="let row of rows" class="clickable_row">
        <td
          *ngFor="let key of keys"
          (click)="onRowClick(row.id)"
          class="text-center text-nowrap"
        >
          <div
            *ngIf="key !== 'ticketName'"
            [ngClass]="getCellClasses(key, row[key])"
          >
            {{ row[key] }}
          </div>
          <div
            *ngIf="key === 'ticketName'"
            class="ticket-name-cell"
            [title]="row[key]"
          >
            {{ row[key] | truncate : 30 }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <app-pagination
    [totalItems]="totalDataCount"
    (pageChange)="changePage($event)"
  ></app-pagination>
</div>
