<div class="container mt-1">
  <div class="ticket-container">
    <app-ticket-detail-view
      [ticketDetails]="ticketDetails"
      [ticketId]="ticketId"
      [headings]="titleSubAgent"
    ></app-ticket-detail-view>
    <div class="button-row">
      <div class="common-btn">
        <app-button color="submit" (click)="resolveTicket()"
          >Resolve Ticket</app-button
        >
      </div>
      <div class="common-btn">
        <app-button
          color="rejected"
          (action)="this.openModal(this.ticketDetails)"
          >Forward for Approval</app-button
        >
      </div>
      <div class="common-btn">
        <app-button color="rejected" (action)="this.openTrackingModal()"
          >Open Modal</app-button
        >
      </div>
    </div>
  </div>
</div>
