.modal-body {
    background-color: #fff;
    padding: 20px;
  }
  
  .button-container {
    margin-bottom: 15px;
  }
  
  .btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    color: #0056b3;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    color: #fff;
  }
  