<!-- <ngb-modal-backdrop></ngb-modal-backdrop>
<div class="modal-dialog" tabindex="-1">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Forward Ticket</h4>
      <button
        type="button"
        class="btn btn-close"
        aria-label="Close"
        (click)="onCloseClick()"
      ></button>
    </div>
    <div class="modal-body">
      <p>Choose who to forward the ticket to:</p>
      <button
        type="button"
        class="btn btn-primary"
        (click)="onForwardToManagerClick()"
      >
        Forward to Manager
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="onForwardToDepartmentClick()"
      >
        Forward to Department
      </button>
    </div>
  </div>
</div> -->

<h1>My Modal</h1>
<p>This is a simple modal content.</p>
<button mat-button (click)="closeModal()">Close</button>
