<!-- modal.component.html -->
<form [formGroup]="deptForm">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Forward Ticket</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div
      class="modal-body"
      #modalBody
      [ngClass]="{ 'show-dropdown': showDropdown }"
    >
      <button
        type="button"
        class="btn btn-primary"
        (click)="forwardToManager(ticketDetails.id, ticketDetails.managerId)"
      >
        Forward to Manager
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="forwardToDeptHead(ticketDetails.employeeId, ticketDetails.id)"
      >
        Forward to Department Head
      </button>
    </div>
  </div>
</form>
