.show_performance{
    border: 2px solid #DFE0EB;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    flex: 1;   
}
.show_performance_toggle{
    border: 2px solid #8757c2;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    flex: 1;   
}
.show_performance_number{
    font-size: 30px;
}
/* .contain_status_report{

} */
.show_performance_text{
    font-size: 20px;
}
.ticket_statuses{
    cursor: pointer;
}