<div class="container-fluid row g-1 status d-sm-flex flex-sm-row">
  <ng-container *ngFor="let item of items; let indexOfDiv = index">
    <div
      class="ticket_statuses shadow"
      [ngClass]="{
        show_performance: selectedDivIndex !== indexOfDiv,
        show_performance_toggle: selectedDivIndex === indexOfDiv
      }"
      (click)="ChangeClass(indexOfDiv)"
    >
      <p class="show_performance_text">{{ item }}</p>
      <p class="show_performance_number">{{ data[indexOfDiv] }}</p>
    </div>
  </ng-container>
</div>
