.notes_heading_lastupdate {
  display: flex;
  justify-content: space-between;
}

.notes_description {
  font-size: small;
}

.form-control {
  width: 100%; /* Take up the full width of the container */
  /* Set a maximum width to avoid excessive stretching on larger screens */
  /* max-height: 70px; */
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid var(--grey);
  border-radius: 0.25rem;
  outline: none;
}

.form-control[readonly] {
  background-color: #fff;
}

/* Add focus styles for editable inputs */
.form-control:not([readonly]):focus {
  border-color: var(--light_blue);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
