<!-- <form [formGroup]="ticketForm" class="container mt-3">
  <app-raise-ticket-title></app-raise-ticket-title>
  <br />

  <div class="form-group">
    <app-tr-subject
      formControlName="subject"
      [label]="'Ticket Subject'"
    ></app-tr-subject>
  </div>

  <app-tr-description
    formControlName="description"
    [label]="'Description'"
  ></app-tr-description>

  <div class="form_dropdown">
    <select formControlName="priority" class="inputGroup">
      <option value="" disabled selected>Choose Priority</option>
      <option *ngFor="let priority of priorities" [value]="priority.id">
        {{ priority.priorityName }}
      </option>
    </select>

    <select
      class="inputGroup"
      formControlName="department"
      class="inputGroup"
      (change)="onDepartmentChange()"
    >
      <option value="" disabled selected>Choose Department</option>
      <option *ngFor="let dept of departments" [value]="dept.id">
        {{ dept.deptName }}
      </option>
    </select>
  </div>

  <div class="">
    <select formControlName="category" class="inputGroup">
      <option value="" disabled selected>Choose Category</option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.categoryName }}
      </option>
    </select>
  </div>

  <div class="">
    <label for="attachments">Attachments</label>
    <input
      type="file"
      id="attachments"
      name="attachments"
      formControlName="attachments"
    />
  </div>

  <div class="">
    <app-button type="button" color="accepted" (click)="onSubmit()">
      Submit
    </app-button>
    <app-button type="reset" color="rejected" (click)="onReset()">
      Reset
    </app-button>
  </div>
</form> -->
<form [formGroup]="ticketForm" class="container mt-3">
  <app-raise-ticket-title></app-raise-ticket-title>
  <br />
  <label for="subject">Ticket Subject</label>
  <div class="inputGroup">
    <input id="subject" type="text" formControlName="subject" />
  </div>
  <label for="description">Description</label>
  <div class="inputGroup">
    <textarea id="description" formControlName="description"></textarea>
  </div>
  <label for="priority">Choose Priority</label>
  <div class="inputGroup">
    <select id="priority" formControlName="priority">
      <option value="" disabled selected>Choose Priority</option>
      <option *ngFor="let priority of priorities" [value]="priority.id">
        {{ priority.priorityName }}
      </option>
    </select>
  </div>
  <label for="department">Choose Department</label>
  <div class="inputGroup">
    <select
      id="department"
      formControlName="department"
      (change)="onDepartmentChange()"
    >
      <option value="" disabled selected>Choose Department</option>
      <option *ngFor="let dept of departments" [value]="dept.id">
        {{ dept.deptName }}
      </option>
    </select>
  </div>

  <div class="">
    <label for="category">Choose Category</label>
    <div class="inputGroup">
      <select id="category" formControlName="category">
        <option value="" disabled selected>Choose Category</option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.categoryName }}
        </option>
      </select>
    </div>
  </div>
  <label for="attachments">Attachments</label>
  <div class="inputGroup">
    <input
      type="file"
      id="attachments"
      name="attachments"
      formControlName="attachments"
    />
  </div>

  <div class="btn-group">
    <app-button type="button" color="accepted" (click)="onSubmit()">
      Submit
    </app-button>
    <app-button type="reset" color="rejected" (click)="onReset()">
      Reset
    </app-button>
  </div>
  <br /><br /><br />
</form>
