<div class="d-flex flex-column flex-sm-row">
  <div class="today_ticket shadow m-4 col-sm-12 col-md-4">
    <h1>Today's Tickets</h1>
    <p>Total: {{ dT }}</p>
    <p>Resolved: {{ dR }}</p>
    <p>Unresolved: {{ dU }}</p>
    <p>Escalated: {{ dE }}</p>
    <!-- <p>{{ weekReport.dailyTickets }}</p>
    <p>{{ weekReport.dailyResolved }}</p>
    <p>{{ weekReport.dailyUnresolved }}</p>
    <p>{{ weekReport.dailyEscalated }}</p> -->
    <br />
    <br />
    <br />
    <br />
    <div>
      <p>View Details -></p>
    </div>
  </div>

  <div class="col-sm-12 col-md-4 m-4 p-0">
    <div class="week_head shadow ms-3 me-3 ps-5 pt-1"><h2>This Week</h2></div>

    <div class="doughnut_box shadow m-3 p-3 justify-content-between d-flex">
      <div class="col-6">
        <canvas
          #doughchart
          baseChart
          class="chart"
          [data]="doughnutChartDatasets"
          [type]="doughnutChartType"
          [legend]="false"
        >
        </canvas>
      </div>
      <div class="ms-3 legendss">
        <div class="legend_div">
          <div class="legend1" #resolvedLegend></div>
          &nbsp;
          <span>Resolved</span>
        </div>
        <div class="legend_div">
          <div class="legend2" #unresolvedLegend></div>
          &nbsp;
          <span>Unresolved</span>
        </div>
        <div class="legend_div">
          <div class="legend3" #escalatedLegend></div>
          &nbsp;
          <span>Escalated</span>
        </div>
      </div>
    </div>
  </div>
</div>
