*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}



.timeline_section{
	min-height: 45vh;
	padding: 1px 15px;
	height: 200px;
	overflow-y: scroll;
}



.timeline_section::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

.timeline_section::-webkit-scrollbar-track {
    background: transparent; /* Background color of the track */
}

.timeline_section::-webkit-scrollbar-thumb {
    background: var(--light_violet); /* Color of the scrollbar thumb */
    border-radius: 4px; /* Radius of the scrollbar thumb */
}

.timeline_section::-webkit-scrollbar-thumb:hover {
    background: var(--violet); /* Color of the scrollbar thumb on hover */
}

/* Hide scrollbar arrows */
.timeline_section::-webkit-scrollbar-button {
    display: none;
}
.timeline_items{
	max-width: 450px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline_items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: var(--violet);
	left: 20px;
}
.timeline_item{
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.timeline_item:last-child{
	margin-bottom: 0;
}

.timeline_item:nth-child(odd){
	padding-right: 0;
	text-align: left;
}
.timeline_item:nth-child(odd),
.timeline_item:nth-child(even){
	padding-left: 47px;
}



.timeline_dot{
	height: 12px;
	width: 12px;
	background-color: var(--light_violet);
	position: absolute;
	left:14px;
	border-radius: 50%;
	top:8px;
}
.timeline_date{
	font-size: 14px;
	color:  #9024dc;
	margin:2px 0 2px;
    font-style: italic;
}
.timeline_content{
    /* background-color:var(--light_violet); */
	padding: 8px;
	border-radius: 5px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
.timeline_content h3{
    font-size: 12px;
	color: var(--black);
	margin:0 0 6px;
	text-transform: capitalize;
	font-weight: 500;
    font-style: italic;
}

.timeline_head{
    margin: 8px 0px 0px;
}


.timeline_content p{
	font-size: 12px;
	font-weight: 450;   
	line-height: 14px;
}

/* responsive */
@media(max-width: 767px){
	.timeline_items::before{
		left: 7px;
	}
	.timeline_item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline_item:nth-child(odd),
	.timeline_item:nth-child(even){
		padding-left: 37px;
	}
	.timeline_dot{
		left:0;
	}
}

.open_status {
    color: var(--green);/* Tomato */
    font-weight: bold;
  }
  
  .in-progress_status {
    color: var(--yellow);
    font-weight: bold;;
  }
  
  .on-hold_status {
    color: var(--onhold);
    font-weight: bold;;
  }

  .escalated_status {
    color: var(--escalated_status_bg); /* Orange */
    font-weight: bold;;
  }
  
  .resolved_status {
    color: var(--resolved); 
    font-weight: bold;
  }

  .cancel_request_status {
    color: var(--cancelrequested);
    font-weight: bold;
  }

  .cancel_status{
	color: var(--cancelled); 
    font-weight: bold;
  }
  

  

  