*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.timeline_section{
	min-height: 100vh;
	padding: 0px 15px;
}
.timeline_items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline_items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: var(--violet);
	left: calc(50% - 1px);
}
.timeline_item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline_item:last-child{
	margin-bottom: 0;
}
.timeline_item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline_item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline_item:only-child {
    padding-right: calc(-3% + 320px);
}


.timeline_dot{
	height: 16px;
	width: 16px;
	background-color: var(--light_violet);
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline_date{
	font-size: 16px;
	color:  #9024dc;
	margin:6px 0 15px;
    font-style: italic;
}
.timeline_content{
    background-color:var(--light_violet);
	padding: 10px;
	border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.timeline_content h3{
    font-size: 18px;
	color: var(--black);
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
    font-style: italic;
}

.timeline_head{
    margin: 10px 0px 0px;
}


.timeline_content p{
 
	font-size: 16px;
	font-weight: 450;   
	line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
	.timeline_items::before{
		left: 7px;
	}
	.timeline_item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline_item:nth-child(odd),
	.timeline_item:nth-child(even){
		padding-left: 37px;
	}
	.timeline_dot{
		left:0;
	}
}

.open_status {
    color: #FF6347; /* Tomato */
    font-weight: bold;
  }
  
  .in-progress_status {
    color: #bca109; /* Gold */
    font-weight: bold;;
  }
  
  .on-hold_status {
    color: #4d0c0a; /* Orange */
    font-weight: bold;;
  }

  .escalated_status {
    color: #FFA500; /* Orange */
    font-weight: bold;;
  }
  
  .resolved_status {
    color: #32CD32; /* LimeGreen */
    font-weight: bold;
  }

  .cancel_request_status {
    color: #0066ff; /* Orange */
    font-weight: bold;
  }

  .cancel_status{
	color: #7300ff; /* Orange */
    font-weight: bold;
  }
  

  