<div class="container mt-1">
    <div class="ticket-container">
      <app-ticket-header></app-ticket-header>
      <app-ticket-info></app-ticket-info>
      <app-ticket-description></app-ticket-description>
      <app-ticket-attachments
        [headerText]="customHeaderText"
      ></app-ticket-attachments>
      <app-ticket-notes-attachments></app-ticket-notes-attachments>
      <app-title-sub></app-title-sub>
      <div class="button-row">
        <div class="common-btn">
          <app-button color="submit">Resolve Ticket</app-button>
        </div>
  
        <div class="common-btn">
          <app-button color="rejected">Forward for Approval</app-button>
        </div>
      </div>
    </div>
  </div>
