.container {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  
  .left-column {
    flex: 1;
  }
  
  .right-column {
    width:27%; /* Adjust the width as needed */
  }
  .invoice{
    margin: 0;
    padding: 0;
    margin-top: -10px;
  }