<!-- <app-ticket-header></app-ticket-header> -->
<app-ticket-info [ticketDetails]="ticketDetails"></app-ticket-info>
<app-ticket-description
  [ticketDetails]="ticketDetails"
></app-ticket-description>
<app-ticket-documents
  [headerText]="customHeaderText"
  [ticketId]="ticketId"
></app-ticket-documents>
<div class="container">
  <div class="left-column">
    <app-ticket-na-simple [ticketId]="ticketId"></app-ticket-na-simple>
    <app-title-sub [headings]="headings"></app-title-sub>
  </div>
  <div class="right-column">
    <app-ticket-tracking [ticketId]="ticketId"></app-ticket-tracking>
  </div>
</div>
