<a class="notification-icon" (click)="toggleNotifications()">
  <img
    src="./assets/notification-svgrepo-com (1).svg"
    alt="Notification Icon"
  />
  <span *ngIf="notifications.length > 0" class="notification-count">{{
    notifications.length
  }}</span>
</a>
<div *ngIf="showNotifications" class="notification-popup">
  <div *ngFor="let notification of notifications" class="notification-item">
    {{ notification.content }} -
    {{ notification.notificationTimestamp | date : "short" }}
  </div>
</div>
