<a class="notification-icon" (click)="toggleNotifications()">
  <img src="./assets/notification.svg" alt="Notification Icon" />
  <span *ngIf="unreadNotificationsCount > 0" class="notification-count">{{
    unreadNotificationsCount
  }}</span>
</a>
<div *ngIf="showNotifications" class="notification-popup">
  <div *ngFor="let notification of notifications" class="notification-item">
    <div class="notification-content">{{ notification.content }}</div>
    <div class="notification-footer">
      {{ notification.notificationTimestamp | date : "short" }}
    </div>
  </div>
</div>
