img {
  max-width: 100%;
  height: auto;
}
.logo {
  margin: 20px;
  margin-left: 12px;
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.facilitease {
  margin: 20px;
  margin-top: 10px;
  margin-left: 40px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.logo:hover {
  transform: rotate(360deg);
}
