/* button.component.css */

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.btn-accepted {
  background-color: #eb28da;
  color: #fff;
}

.btn-accepted:hover {
  background-color: #a51f9a;
}

.btn-rejected {
  background-color: #df1d4e;
  color: #fff;
}

.btn-rejected:hover {
  background-color: #b60b3e;
}

.btn-submit {
  background-color: #5920dd;
  color: #fff;
}

.btn-submit:hover {
  background-color: #4315ad;
}
.btn-paginate {
  background-color: #6f00ff;
  color: #fff;
}
.btn-paginate:hover {
  background-color: #4905a2;
}
/* Add styles for more colors as needed */
