<div *ngIf="ticketDetails" class="mb-4">
  <div class="ticket_sub px-3 mt-2">
    <p class="ticket_name">{{ ticketDetails.ticketName }}</p>
    <!-- <p class="created_date">
      Created On:
      {{ ticketDetails.submittedDate | date : "yyyy-MM-dd hh:mm:ss a" }}
      <br>
      Expected Completion Date On:
      {{ticketDetails.expectedDate | date : "yyyy-MM-dd hh:mm:ss a"}}
    </p> -->
  </div>
  <div class="ticket_desc px-3 ">
    <p><i>{{ ticketDetails.ticketDescription }}</i></p>
  </div>
</div>
