<!-- data-table.component.html -->

<div class="container mt-4">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChanged($event)">
    <!-- Add columns dynamically based on headers -->
    <ng-container *ngFor="let key of keys" [matColumnDef]="key">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ headers[keys.indexOf(key)] }}</th>
      <td mat-cell *matCellDef="let row">{{ row[key] }}</td>
    </ng-container>

    <!-- Header row and data rows -->
    <tr mat-header-row *matHeaderRowDef="keys"></tr>
    <tr mat-row *matRowDef="let row; columns: keys"></tr>
  </table>

  <!-- Paginator for next and previous buttons -->
  <mat-paginator [length]="16" [pageSize]="10" (page)="onPaginatorChange($event)" >

    <!-- (matSortChange)="onSortChanged($event) -->