.report_generation{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.generate_button{
    background-color: white;
    border-radius: 10px;
    height: 40px;
    border: 1px solid var(--violet);
}