.sidebar {
  background-color: var(--grey);
  height: 100vh;
  padding: 0%;
  margin: 0%;
  position: fixed;
  overflow-x: hidden;
}
.sidebar::-webkit-scrollbar {
  width: 0px;
}
.collapsed {
  width: 60px !important;
}
.expanded {
  width: 250px !important;
}
.hamburger {
  margin-bottom: 9px;
  transition: transform 0.3s ease-in-out;
}
.hamburger:hover {
  transform: scale(1.2);
}
