<div class="header_container p-2">
  <app-header-user-role-dropdown></app-header-user-role-dropdown>
  <div class="d-flex">
    <div class="">
      <app-notification></app-notification>
      <img
        class="header_img img-fluid"
        src="./assets/lightbulb-solid.svg"
        alt=""
        class=""
      />
      <img
        class="header_img img-fluid"
        src="./assets/calendar-days-solid.svg"
        alt=""
        class=""
      />
      <img
        class="header_img img-fluid"
        src="./assets/square-check-solid.svg"
        alt=""
        class=""
      />
    </div>
    <app-profilepic-dropdown></app-profilepic-dropdown>
  </div>
</div>
