.card_body {
  padding: 2%;
}
.notes_heading_lastupdate {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}
#notes_heading {
  font-weight: 700;
}
.notes_description {
  font-size: medium;
  color: var(--dark_grey);
}
