<div class="card na_box">
  <div class="notes">
    <div class="notes_heading_lastupdate">
      <h4 id="notes_heading">Notes</h4>
      <p id="notes_lastupdate">{{ lastUpdate }}</p>
    </div>

    <form [formGroup]="form">
      <div class="notes_description">
        <textarea
          class="form-control"
          formControlName="notes"
          [style.color]="'#808080'"
          [style.border-color]="'#80bdff'"
          [readonly]="true"
          [placeholder]="!form.get('notes')?.value ? 'No notes provided' : ''"
        ></textarea>
      </div>
    </form>
  </div>

  <form [formGroup]="form">
    <div class="notes_description">
      <textarea
        class="form-control"
        formControlName="notes"
        [style.color]="'#808080'"
        [style.border-color]="'#80bdff'"
        [readonly]="true"
        [placeholder]="!form.get('notes')?.value ? 'No notes provided!' : ''"
      ></textarea>
    </div>
  </form>
</div>
