option {
  color: black;
  background-color: #fff;
  padding: 12px;
  width: 100%;
  padding-right: 10px;
}
.custom_dropdown {
  width: 85px;
  border: 1px solid var(--light_grey);
  border-radius: 5px;
  background-color: var(--violet);
  color: #fff;
  appearance: none;
  cursor: pointer;
  font-size: 12px;
  height: 35px; /* Adjust the height as needed */
  align-items: center;
}
