<form [formGroup]="supportForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="modal_container">
    <h1 class="heading_modal">Get in Touch!</h1>
    <div>
      <!-- Form for entering support details -->
      <div class="form-group">
        <label for="supportDetails" class="text_label"
          >Contact our Support Team...</label
        >
        <textarea
          id="supportDetails"
          formControlName="supportDetails"
          class="form-control"
          placeholder="What can we help you with?"
        ></textarea>
        <div
          *ngIf="
            submitClicked &&
            supportForm.get('supportDetails')?.hasError('required')
          "
        >
          Please enter support details.
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="button">
    <!-- <button mat-button type="button" (click)="close()">Close</button> -->
    <app-button class="close" color="rejected" (action)="close()"
      >Close</app-button
    >
    <app-button class="send" color="accepted" (action)="onSubmit()"
      >Send</app-button
    >
  </div>
</form>
