<!-- <app-ticket-notes-attachments></app-ticket-notes-attachments>
<app-ticket-raised-assigned></app-ticket-raised-assigned>
<app-card-upper></app-card-upper>
<app-button color="accepted">Accepted</app-button>
<app-button color="rejected">Rejected</app-button>
<app-profilepic-dropdown></app-profilepic-dropdown> -->
<!-- <app-sidebar>
  <app-sidebar-logo></app-sidebar-logo>
  <app-sidebar-field
    *ngFor="let field of fields"
    [field]="field"
  ></app-sidebar-field>
</app-sidebar> -->
<app-reactive-form></app-reactive-form>
