<!-- <app-ticket-notes-attachments></app-ticket-notes-attachments>
<app-ticket-raised-assigned></app-ticket-raised-assigned>
<app-card-upper></app-card-upper>

<app-profilepic-dropdown></app-profilepic-dropdown> -->
<!-- <app-sidebar>
  <app-sidebar-logo></app-sidebar-logo>
  <app-sidebar-field
    *ngFor="let field of fields"
    [field]="field"
  ></app-sidebar-field>
</app-sidebar> -->
<!-- <app-reactive-form></app-reactive-form> -->
<app-button color="accepted" (action)="updateTicket(true)">Accepted</app-button>
<app-button color="rejected" (action)="updateTicket(false)"
  >Rejected</app-button
>
