<div>
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <label for="ticketName">Ticket Name:</label>
    <input type="text" id="ticketName" formControlName="ticketName" />

    <label for="ticketDescription">Ticket Description:</label>
    <textarea
      id="ticketDescription"
      formControlName="ticketDescription"
    ></textarea>

    <label for="priorityId">Priority Id:</label>
    <input type="number" id="priorityId" formControlName="priorityId" />

    <label for="categoryId">Category Id:</label>
    <input type="number" id="categoryId" formControlName="categoryId" />

    <label for="departmentId">Department Id:</label>
    <input type="number" id="departmentId" formControlName="departmentId" />

    <label for="file">Upload Image:</label>
    <input type="file" id="file" (change)="onFileChange($event)" />

    <button type="submit">Submit</button>
  </form>
</div>
<div *ngFor="let imageUrl of images">
  <img [src]="imageUrl" alt="Image" />
</div>
