.thumbnail {
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
}

h4 {
  font-family: "Poppins", sans-serif !important;
}

.documents {
  margin-bottom: 10px;
  width: 200px;
  height: 70px;
}

.thumbnail-container {
  margin-top: -5px;
}
.delete-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
