<ng-container *ngIf="fileUrl">
  <div
    class="documents"
    (mouseenter)="isHovered = true"
    (mouseleave)="isHovered = false"
  >
    <h4 id="attachment_heading">
      {{ headerText }}
    </h4>
    <div class="thumbnail-container">
      <!-- Display file icon always -->
      <img
        *ngIf="isImage; else fileIcon"
        [src]="fileUrl"
        alt="Image Thumbnail"
        class="thumbnail"
        (click)="openFile()"
      />
      <ng-template #fileIcon>
        <img
          src="./assets/invoice.svg"
          alt="File Thumbnail"
          class="thumbnail"
          (click)="openFile()"
        />
      </ng-template>
      <!-- Display delete icon when hovered -->
      <img
        *ngIf="isHovered"
        src="./assets/delete.svg"
        alt="Delete Icon"
        class="delete-icon"
        (click)="openConfirmationModal()"
      />
    </div>
  </div>
</ng-container>
