
.manager-dashboard{
    display: flex;
}
.side-container {
    display: flex;
    height: 100vh;
  }
  
  .app_sidebar {
    flex: 1;
    overflow-x: hidden;
    transition: flex 0.4s ease-in-out;
  }
  
  .side_display {
    flex: 4;
    overflow: auto;
    transition: flex 0.4s ease-in-out;
  }
  .side_display.collapsed {
    flex: 15;
  }
  