<!-- <div class="container mt-4">
  <h2 class="mb-4">Unassigned Tickets</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Ticket Id</th>
        <th>Ticket Name</th>
        <th>Raised By</th>
        <th>Assigned To</th>
        <th>Open Date and Time</th>
        <th>Priority</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of unassignedTickets">
        <td>{{ ticket.ticketId }}</td>
        <td>{{ ticket.ticketName }}</td>
        <td>{{ ticket.raisedBy }}</td>
        <td>
          <div class="d-flex align-items-center">
            <ng-container *ngIf="!ticket.assignedTo">
              <app-assign-dropdown
                [label]="'Assign To'"
                [options]="agents"
                displayKey="agentName"
                valueProperty="agentId"
                (onItemSelected)="onAgentSelected($event, ticket.ticketId)"
              ></app-assign-dropdown>
            </ng-container>
            <ng-container *ngIf="ticket.assignedTo">
              {{ ticket.assignedTo }}
            </ng-container>
          </div>
        </td>
        <td>{{ ticket.raisedDateTime | date : "medium" }}</td>
        <td>
          <span
            [ngClass]="{
              'text-danger': ticket.priority === 'High',
              'text-warning': ticket.priority === 'Medium',
              'text-info': ticket.priority === 'Low'
            }"
          >
            {{ ticket.priority }}
          </span>
        </td>
        <td>{{ ticket.status }}</td>
      </tr>
    </tbody>
  </table>
</div> -->
<h2 class="heading">Unassigned Tickets</h2>
<div class="display">
  <app-data-table-new
    [headers]="headers"
    [apiLink]="apiLink"
    (rowClicked)="onRowClicked($event)"
    id="datatable"
  ></app-data-table-new>
</div>
<!-- <div class="details_display" [class.collapsed]="isSidebarCollapsed"> -->
<!-- </div> -->
