<!-- employee-cards.component.html -->
<div class="card_container">
  <div
    *ngFor="let card of cards; let i = index"
    (click)="onCardClick(i)"
    [class.selected]="selectedIndex === i"
  >
    <mat-card (mouseleave)="resetCardSelection()">
      <!-- Card content -->
      <mat-card-header>
        <mat-card-title>{{ card.title }}</mat-card-title>
      </mat-card-header>
      <br />
      <br />
      <br />
      <mat-card-content>
        <p>{{ card.content }}</p>
      </mat-card-content>

      <div class="logo_container">
        <!-- SVG logo for not hovered state -->
        <img
          *ngIf="card.logo === 'ticket'"
          src="./assets/ticket-svgrepo-com.svg"
          alt="Ticket Logo"
          class="not_hovered"
        />
        <h2 *ngIf="card.logo === 'ticket'" class="not_hovered">
          Raise a ticket
        </h2>
        <img
          *ngIf="card.logo === 'knowledge-base'"
          src="./assets/knowledge-base-svgrepo-com.svg"
          alt="Knowledge Base Logo"
          class="not_hovered"
        />
        <h2 *ngIf="card.logo === 'knowledge-base'" class="not_hovered">
          Knowledge base
        </h2>

        <!-- Images for hovered state -->
        <img
          *ngIf="card.logo === 'ticket'"
          src="./assets/white ticket.svg"
          alt="Ticket Image"
          class="hovered"
        />
        <img
          *ngIf="card.logo === 'knowledge-base'"
          src="./assets/white book.svg"
          alt="Knowledge Base Image"
          class="hovered"
        />
      </div>
    </mat-card>
  </div>
</div>
