
.person-card{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}
.image-name{
    display: flex;
    justify-content: center;
    align-items: center;
    }
#name{
    margin-top: 10px;
}
#person-img{
    width:40px;
    height: 40px;
    margin-right: 10px;
}
