.person_card {
  margin-left: 20px;
  margin-right: 20px;
}
.image_name {
  display: flex;
  justify-content: center;
  align-items: center;
}
#name {
  margin-top: 10px;
}
#person_img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
