@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: "Montserrat", sans-serif !important; */
  /* font-family: "Protest Revolution", sans-serif !important; */
  font-family: "Poppins", sans-serif !important;
  margin: 0%;
  padding: 0%;
}
:root {
  --violet: #320242;
  --hover_violet: #48035f;
  /* --violet: rgb(124, 0, 192); */
  --grey: rgb(237, 237, 237);
  /* --grey: rgb(198, 198, 198); */
  /* --light_violet: #dad7ff; */
  --light_violet: #ede3f1;
  --light_grey: #ececec;
  --blue_violet: #320242;
  --low_priority: rgb(8, 104, 5);
  --medium_priority: rgb(202, 160, 9);
  --high_priority: #ff7f29;
  --critical_priority: #d54949;
  --open_status_bg: rgba(116, 223, 125, 0.4);
  --open_status: rgb(6, 83, 4);
  --inprogress_status_bg: #bf74df33;
  --onhold_status_bg: rgba(223, 168, 116, 0.4);
  --onhold: rgb(202, 102, 9);
  --resolved_status_bg: rgba(112, 110, 222, 0.4);
  --resolved: #4b49d5;
  --cancelled_status_bg: rgba(218, 222, 110, 0.4);
  --cancelled: #6f5b0ae7;
  --escalated_status_bg: rgba(222, 117, 110, 0.4);
  --cancelrequested_status_bg: rgba(218, 222, 110, 0.4);
  --cancelrequested: #cc6321c4;
  --green: #320242;
  --ticket_status: #ffe9c4;
  --ticket_status_color: #f59e0b;
  --yellow: #f5c412;
  --priority_box: #f4be61;
  --dark_grey: rgb(63, 62, 94, 0.8);
  --light_blue: #80bdff;
  --red: #cb0033;
  --dark_red: #9d0231;
  --hover_grey: #c3c3c3;
  --white: #ffffff;
  --black: #000000;
  --tomato: #ff6347;
}
.skeleton {
  background-color: #e2e5e7;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
  border-radius: 4px; /* Add border radius */
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

.toast_top_right {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: justify; /* This will align the text properly */
  top: 0;
  right: 0;
  margin-top: 60px;
  margin-right: 30px;
}

/* .toast-top-right:not(.ngx-toastr-animate-in) {
  padding: 0;
} */
