.pro_div {
  background-color: white;
  width: 160px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: white;
  color: black;
}

.pro_pic {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 20%; /* This will make the image a squircle */
}

.dropdown-toggle-split {
  border-radius: 50px;
  border-color: white;
}

.dropdown-menu {
  margin-left: 40px;
  cursor: pointer;
}
::after {
  margin-top: 20px;
  margin-right: 7px;
}
#button-split {
  height: 40px;
  left: -10px;
}
.down_arrow {
  width: 10px;
  height: 10px;
}

.dropdown-toggle-split::after {
  position: relative;
  top: -8px; /* Adjust the top position to move it a little above */
}
#dropdown-split {
  height: 40px;
  align-items: center;
  justify-content: center;
}

.dropdown-item {
  font-size: 15px;
}

.bold {
  font-weight: bold;
}

.smaller-font {
  font-size: 0.9em; /* Adjust the font size as needed */
}
