<div class="btn-group" dropdown>
  <span pan type="" class="pro_div">
    <img
      class="pro_pic"
      src="https://cdn4.iconfinder.com/data/icons/people-avatar-1-1/128/50-512.png"
    /><img /> {{ userName }}
  </span>
  <button
    id="button-split"
    type="button"
    dropdownToggle
    class="btn btn-danger dropdown-toggle dropdown-toggle-split"
    aria-controls="dropdown-split"
  >
    <span class="down_arrow caret"></span>
    <span class="sr-only visually-hidden">Split button!</span>
  </button>
  <ul
    id="dropdown-split"
    *dropdownMenu
    class="dropdown-menu"
    role="menu"
    aria-labelledby="button-split"
  >
    <li role="menuitem">
      <p class="dropdown-item" (click)="Logout()">Log Out</p>
    </li>
  </ul>
</div>
