.pro_div {
  background-color: white;
  width: 160px;
  text-align: center;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: white;
  color: black;
}

.pro_pic {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.dropdown-toggle-split {
  background-color: var(--blue_violet);
  border-radius: 50px;
  width: 40px;
  border-color: white;
  background-color: var(--violet);
}

.dropdown-menu {
  margin-left: 40px;
  cursor: pointer;
}
::after {
  margin-top: 20px;
  margin-right: 7px;
}
#button-split {
  height: 40px;
}
.down_arrow {
  width: 10px;
  height: 10px;
}
#dropdown-split {
  height: 40px;
  align-items: center;
  justify-content: center;
}

.dropdown-item {
  font-size: 15px;
}
