.sidebar_field {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 0%;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}
.sidebar_field:hover {
  background-color: var(
    --hover_grey
  ); /* Change the background color on hover */
}

.sidebar_field.active {
  background-color: var(
    --hover_grey
  ); /* Change the background color when active */
  border-right: solid 5px;
  font-weight: bolder;
  color: var(--violet);
  /* border-color: rgb(124, 0, 192); */
  border-color: var(--violet);
}

.sidebar_field.active img {
  max-width: 30px; /* Increase the image size when active */
  max-height: 30px;
}

.sidebar_field.active span {
  font-size: 16px; /* Increase the font size when active */
}
img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.sidebar_subfield {
  margin-left: 50px;
}
