.dropdown_button {
  background-color: white;
  text-align: left;
  padding: 5px;
  margin-left: 5.7rem;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown_content {
  cursor: pointer;
  margin-left: 5.7rem;
  z-index: 10;
  position: absolute;
}
.option {
  padding: 10px;
  background-color: white;
}
.option:hover {
  background-color: var(--light_grey);
}
