<div class="dropdown">
  <button
    class="dropdown_button dropdown-toggle col-2 d-flex justify-content-between"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    (click)="toggleDropdown()"
    appOutsideClick
    (clickOutside)="closeDropdown()"
  >
    {{ selectedOption || "Assign a role" }}
    <!-- <img src="./assets/down.png" /> -->
  </button>
  <div
    class="dropdown_content col-2"
    aria-labelledby="dropdownMenuButton"
    *ngIf="showDropdown"
  >
    <div
      class="option dropdown-item"
      *ngFor="let option of options"
      (click)="selectOption(option)"
    >
      {{ option }}
    </div>
  </div>
</div>
