<mat-dialog-content>
  <div class="file-input-container">
    <label for="fileInput" class="custom-file-input-label"> Choose File </label>
    <input
      id="fileInput"
      type="file"
      #fileInput
      (change)="onFileSelected($event)"
      class="custom-file-input"
    />
  </div>
  <div *ngIf="selectedFile" class="selected-file-info">
    Selected File: {{ selectedFile.name }}
    <br />
    <div class="btn-container">
      <app-button color="submit" (click)="uploadFile()" class="btn"
        >Upload</app-button
      >
      <app-button color="rejected" class="btn" (click)="onCancelClick()"
        >Cancel</app-button
      >
    </div>
  </div>
</mat-dialog-content>
