<div class="details_container">
  <app-ticket-info [ticketDetails]="ticketDetails"></app-ticket-info>
  <app-ticket-description [ticketDetails]="ticketDetails"></app-ticket-description>
  <app-ticket-documents [headerText]="customHeaderText" [ticketId]="ticketId"></app-ticket-documents>
  <div class="assign_dropdown">
    <app-assign-dropdown [label]="'Assign To'" [options]="agents" displayKey="agentName" valueProperty="agentId"
      (onItemSelected)="onAgentSelected($event, ticketId)"></app-assign-dropdown>
  </div>
  <!-- <app-ticket-notes-attachments></app-ticket-notes-attachments> -->
  <div class="container">
    <div class="left-column">
      <app-invoice-upload [ticketId]="ticketId"></app-invoice-upload>
      <br />
      <app-invoice-display [ticketId]="ticketId"></app-invoice-display>
      <app-comments [currentUserId]="currentUserId" [ticketId]="ticketId"></app-comments>
      <br />
      <app-title-sub [headings]="titleSubHeadings"></app-title-sub>
    </div>
    <div class="right-column">
      <app-ticket-tracking [ticketId]="ticketId"></app-ticket-tracking>
    </div>
  </div>
</div>