<div class="container mt-1">
  <div class="ticket-container">
    <app-ticket-info [ticketDetails]="ticketDetails"></app-ticket-info>
    <app-ticket-description
      [ticketDetails]="ticketDetails"
    ></app-ticket-description>
    <app-ticket-attachments
      [headerText]="customHeaderText"
      [ticketDetails]="ticketDetails"
    ></app-ticket-attachments>
    <app-ticket-notes-attachments></app-ticket-notes-attachments>
    <app-title-sub [ticketDetails]="ticketDetails"></app-title-sub>
    <div class="button-row">
      <app-assign-dropdown
        [label]="'Assign To'"
        [options]="agents"
        displayKey="agentName"
        valueProperty="agentId"
        (onItemSelected)="onAgentSelected($event, ticketId)"
      ></app-assign-dropdown>
    </div>
  </div>
</div>
