<div class="container mt-1">
  <div class="ticket-container">
    <app-ticket-header></app-ticket-header>
    <app-ticket-info [ticketDetails]="ticketDetails"></app-ticket-info>
    <app-ticket-description
      [ticketDetails]="ticketDetails"
    ></app-ticket-description>
    <app-ticket-attachments
      [headerText]="customHeaderText"
      [ticketDetails]="ticketDetails"
    ></app-ticket-attachments>
    <app-ticket-na-simple
      [notes]="ticketDetails.notes"
      [lastupdate]="ticketDetails.lastUpdate"
    ></app-ticket-na-simple>
  </div>
  <div class="person_cards_row">
    <!-- Raised By -->
    <app-person-card
      [personName]="ticketDetails.employeeName"
      [role]="0"
    ></app-person-card>

    <!-- Assigned To -->
    <app-person-card
      [personName]="ticketDetails.assignedTo"
      [role]="1"
    ></app-person-card>

    <app-person-card
      [personName]="ticketDetails.forwardedBy"
      [role]="2"
    ></app-person-card>
  </div>
  <div class="button-row">
    <app-button color="accepted" (action)="updateTicket(true)" id="accepted"
      >Accepted</app-button
    >
    <app-button color="rejected" (action)="updateTicket(false)"
      >Rejected</app-button
    >
  </div>
</div>
