.person_cards_row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
  margin-top: 2%;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2%;
}

#accepted {
  margin-right: 2%;
}
.description_container {
  display: flex;
  justify-content: space-between;
  padding: 0; 
}

.left-column {
  flex: 1;
}

.right-column {
  width:27%; 
}
