.pagination_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px; /* Adjust the width as needed */
  margin: auto;
}

.number_container {
  display: flex;
  align-items: center;
  gap: 15px; /* Adjust the gap between numbers */
  padding: 5%;
}

.number_container div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.number_container div:hover {
  background-color: rgb(226, 226, 226);
  border: 2px solid var(--violet);
}
.number_container div.highlighted {
  background-color: white;
  color: var(--violet);
  font-weight: 1000;
  border: 2px solid var(--violet);
}
