#search_icon {
  width: 20px;
}
#searchAddon:hover {
  cursor: pointer;
  background-color: var(--light_violet);
}
.input-group {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
