.attachment_docs {
  display: flex;
  justify-content: flex-start;
}

#attachment_img {
  width: 30px;
  margin-right: 10px;
  padding-bottom: 20px;
}

.form-group {
  max-width: 600px;
  margin: 1em 0 1em 0;
  position: relative;
}