/* Apply a basic style to the form */
form {
  top: 0;
  max-width: 400px; /* Adjust the max-width as needed */
  margin: 0 auto;
  margin-top: 0 auto;
}

/* Style form labels and inputs */
label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Style the submit button */
button {
  background-color: var(--green);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

/* Style the review section */
div[ngIf="showReview"] {
  margin-top: 20px;
}

.has-error .form-control {
  border-color: #dc3545; /* Red color for border */
}

.error-message {
  color: #dc3545; /* Red color for text */
  font-size: 0.875rem; /* Adjust font size as needed */
  margin-top: 0.25rem; /* Add some margin to separate from the input */
}

.required {
  color: #dc3545; /* Red color for '*' */
  margin-left: 0.125rem; /* Adjust spacing between text and '*' */
}

/* Add a breakpoint for small screens */
@media screen and (max-width: 600px) {
  form {
    max-width: 100%; /* Full width on small screens */
  }

  /* Adjust padding and font size for smaller screens */
  input {
    padding: 6px;
  }

  button {
    font-size: 14px;
  }
}
