<!-- your.component.html -->
<form [formGroup]="myForm" (ngSubmit)="submitForm()" class="mt-4">
  <h1>EMPLOYEE ADDITION FORM</h1>
  <div class="form-group row">
    <label for="employeecode" class="col-md-3 col-form-label"
      >Employee Code:</label
    >
    <div class="col-md-9">
      <input
        type="text"
        id="employeecode"
        class="form-control"
        formControlName="employeeCode"
      />
      <div *ngIf="isInvalidControl('employeeCode')" class="error-message">
        Employee Code is required<span class="required">*</span>.
      </div>
    </div>

    <label for="firstname" class="col-md-3 col-form-label">First Name:</label>
    <div class="col-md-9">
      <input
        type="text"
        id="firstname"
        class="form-control"
        formControlName="firstName"
      />
      <div *ngIf="isInvalidControl('firstName')" class="error-message">
        <span *ngIf="myForm.get('firstName')?.errors?.['pattern']">
          First Name should only contain letters.
        </span>
        <span *ngIf="myForm.get('firstName')?.errors?.['required']">
          First Name is required<span class="required">*</span>.
        </span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="lastname" class="col-md-3 col-form-label">Last Name:</label>
    <div class="col-md-9">
      <input
        type="text"
        id="lastname"
        class="form-control"
        formControlName="lastName"
      />
      <div *ngIf="isInvalidControl('lastName')" class="error-message">
        <span *ngIf="myForm.get('lastName')?.hasError('pattern')">
          Last Name should only contain letters.
        </span>
        <span *ngIf="myForm.get('lastName')?.hasError('required')">
          Last Name is required<span class="required">*</span>.
        </span>
      </div>
    </div>

    <label for="dob" class="col-md-3 col-form-label">DOB:</label>
    <div class="col-md-9">
      <input type="date" id="dob" class="form-control" formControlName="dob" />
      <div *ngIf="isInvalidControl('dob')" class="error-message">
        <span *ngIf="myForm.get('dob')?.hasError('required')"
          >Date of Birth is required<span class="required">*</span>.</span
        >
        <span *ngIf="myForm.get('dob')?.hasError('futureDate')"
          >Date of Birth cannot be in the future<span class="required">*</span
          >.</span
        >
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="email" class="col-md-3 col-form-label">Email:</label>
    <div class="col-md-9">
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
      />
      <div *ngIf="isInvalidControl('email')" class="error-message">
        Email is required<span class="required">*</span>.
      </div>
    </div>

    <label for="gender" class="col-md-3 col-form-label">Gender:</label>
    <div class="col-md-9">
      <input
        type="text"
        id="gender"
        class="form-control"
        formControlName="gender"
      />
      <div *ngIf="isInvalidControl('gender')" class="error-message">
        <span *ngIf="myForm.get('gender')?.hasError('pattern')">
          Gender should only contain letters.
        </span>
        <span *ngIf="myForm.get('gender')?.hasError('required')">
          Gender is required<span class="required">*</span>.
        </span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="managerId" class="col-md-3 col-form-label">ManagerId:</label>
    <div class="col-md-9">
      <select
        id="managerId"
        class="form-control"
        formControlName="managerId"
        (change)="onManagerSelected($event)"
      >
        <option value="" disabled selected>Select Manager</option>
        <option *ngFor="let manager of managers" [value]="manager.managerId">
          {{ manager.managerName }}
        </option>
      </select>
      <div *ngIf="isInvalidControl('managerId')" class="error-message">
        Manager is required<span class="required">*</span>.
      </div>
    </div>

    <label for="departmentId" class="col-md-3 col-form-label"
      >DepartmentId:</label
    >
    <div class="col-md-9">
      <select
        id="departmentId"
        class="form-control"
        formControlName="departmentId"
        (change)="onDepartmentSelected($event)"
      >
        <option value="" disabled selected>Select Department</option>
        <option *ngFor="let department of departments" [value]="department.id">
          {{ department.deptName }}
        </option>
      </select>
      <div *ngIf="isInvalidControl('departmentId')" class="error-message">
        Department is required<span class="required">*</span>.
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="positionId" class="col-md-3 col-form-label">PositionId:</label>
    <div class="col-md-9">
      <select
        id="positionId"
        class="form-control"
        formControlName="positionId"
        (change)="onPositionSelected($event)"
      >
        <option value="" disabled selected>Select Position</option>
        <option *ngFor="let position of positions" [value]="position.id">
          {{ position.positionName }}
        </option>
      </select>
      <div *ngIf="isInvalidControl('positionId')" class="error-message">
        Position is required<span class="required">*</span>.
      </div>
    </div>

    <label for="locationId" class="col-md-3 col-form-label">LocationId:</label>
    <div class="col-md-9">
      <select
        id="locationId"
        class="form-control"
        formControlName="locationId"
        (change)="onLocationSelected($event)"
      >
        <option value="" disabled selected>Select Location</option>
        <option *ngFor="let location of locations" [value]="location.id">
          {{ location.locationName }}
        </option>
      </select>
      <div *ngIf="isInvalidControl('locationId')" class="error-message">
        Location is required<span class="required">*</span>.
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-9 offset-md-3">
      <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">
        Submit
      </button>
    </div>
  </div>
</form>

<div *ngIf="showReview" class="mt-4">
  <h2>Review your data</h2>
  <p>EmployeeCode: {{ myForm.get("employeeCode")?.value }}</p>
  <p>FirstName: {{ myForm.get("firstName")?.value }}</p>
  <p>LastName: {{ myForm.get("lastName")?.value }}</p>
  <p>Dob: {{ myForm.get("dob")?.value }}</p>
  <p>Email: {{ myForm.get("email")?.value }}</p>
  <p>Gender: {{ myForm.get("gender")?.value }}</p>
  <p>ManagerId: {{ myForm.get("managerId")?.value }}</p>
  <p>DepartmentId: {{ myForm.get("departmentId")?.value }}</p>
  <p>PositionId: {{ myForm.get("positionId")?.value }}</p>
  <p>LocationId: {{ myForm.get("locationId")?.value }}</p>

  <button (click)="confirmSubmit()" class="btn btn-success">
    Confirm and Submit
  </button>
</div>
