.subfield {
  cursor: pointer;
  padding: 10px;
  margin-left: 0%;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}
.subfield:hover {
  background-color: var(
    --hover_grey
  ); /* Change the background color on hover */
}

.subfield.active {
  background-color: var(
    --hover_grey
  ); /* Change the background color when active */
  border-right: solid 5px;
  font-weight: bolder;
  color: var(--violet);
  border-color: var(--violet);
}

.subfield.active {
  font-size: 16px; /* Increase the font size when active */
}
