<!-- <div class="container mt-1">
  <div class="ticket-container">
    <app-ticket-header></app-ticket-header>
    <app-ticket-info [ticketDetails]="ticketDetails"></app-ticket-info>
    <app-ticket-description
      [ticketDetails]="ticketDetails"
    ></app-ticket-description>
    <app-ticket-attachments
      [headerText]="customHeaderText"
      [ticketDetails]="ticketDetails"
    ></app-ticket-attachments>
    <app-ticket-notes-attachments
      [ticketId]="ticketId"
    ></app-ticket-notes-attachments>
    <app-title-sub [ticketDetails]="ticketDetails"></app-title-sub>
    <div class="button-row">
      
    </div>
  </div>
</div> -->
<div class="container mt-1">
  <div class="ticket-container">
    <app-ticket-detail-view-noedit
      [ticketDetails]="ticketDetails"
      [ticketId]="ticketId"
    ></app-ticket-detail-view-noedit>
  </div>
  <div class="common-btn">
    <app-button color="submit" (click)="onCancelRequest()"
      >Request to Cancel</app-button
    >
  </div>
</div>
