<!--Request to ticket cancel  -->

<div class="container mt-1">
  <div class="ticket-container">
    <app-ticket-detail-view-noedit
      [ticketDetails]="ticketDetails"
      [ticketId]="ticketId"
    ></app-ticket-detail-view-noedit>
    <app-title-sub [headings]="titleSubHeading"></app-title-sub>
  </div>

  <app-button
    color="submit"
    (click)="openConfirmationModal()"
    *ngIf="
      ticketDetails?.statusName === 'Open' ||
      ticketDetails?.statusName === 'In Progress' ||
      ticketDetails?.statusName === 'On Hold' ||
      ticketDetails?.statusName === 'Escalated'
    "
  >
    Request to Cancel
  </app-button>

  <br /><br />
</div>
